@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Fira Sans"
}
header{
    margin-bottom: 80px;
}
/* nav bar */
nav{
    margin: 24px 160px;
}
nav a{
    text-decoration: none;
    color: #006A50;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.btn{
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    font-weight: 600;
    font-size: 18;
    background-color: white;
}

/* Banner */
.banner{
    margin: 24px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 60px;
}
.H3{
    color: #0E0E0E;
    font-weight: 500;
    font-size: 24px;
    opacity: 50%;
    text-align: left;
    margin-bottom: 16px;
}

.bd2 p{
    font-weight: 700;
    font-size: 56px;
    color: #0E0E0E;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 24px;
}

.bd3 a{
    text-decoration: none;
    color: white;
    background-color: none;
}

.bd3 button{
    background-color: #006A50;
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18;
    border-color: #006A50;
    border-radius: 8px;
}

